.react-datepicker {
	font-family: 'Spartan', sans-serif;
	border: none;
	box-shadow: 0 10px 20px rgba(72, 84, 159, 0.25);
	border-radius: 8px;
	width: 240px;
	height: 240px;
	padding: 16px;
	box-sizing: border-box;
}

.react-datepicker__header {
	background-color: #fff;
	border-bottom: none;
	margin-bottom: 8px;
}

.react-datepicker__month {
	margin: 0;
}

.react-datepicker__month-container {
	float: none;
	width: 100%;
}

.react-datepicker__day-names {
	display: none;
}

.react-datepicker__week {
	display: flex;
	justify-content: space-between;
}

.react-datepicker__day {
	margin: 0;
	width: 28px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #0c0e16;
	font-weight: 700;
}

.react-datepicker__day:hover,
.react-datepicker__day--keyboard-selected {
	background-color: transparent;
	color: #7c5dfa;
}

.react-datepicker__day--selected {
	background-color: transparent;
	color: #7c5dfa;
	font-weight: 700;
}

.react-datepicker__day--outside-month {
	color: #dfe3fa;
}

.react-datepicker__current-month {
	font-size: 12px;
	font-weight: 700;
	color: #0c0e16;
	margin-bottom: 16px;
}

.react-datepicker__navigation {
	top: 16px;
}

.react-datepicker__navigation--previous {
	left: 16px;
}

.react-datepicker__navigation--next {
	right: 16px;
}

.react-datepicker__navigation-icon::before {
	border-color: #7e88c3;
	border-width: 2px 2px 0 0;
	height: 8px;
	width: 8px;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
	border-color: #7c5dfa;
}
.react-datepicker__triangle {
	display: none;
}
